@font-face {
    font-family: Century Gothic;
    src: url("../font/GOTHIC.TTF");
}
*{
    font-family: Century Gothic;
    font-weight: 800;
}
a:focus{outline:none;}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
html,div,ul,p,h1,h2,h3,h4,h5,h6,td,input{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.tool{
    width: 960px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}
.header{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    position: relative;
}
.common_header{
    width: 960px;
    margin: 64px auto 0px;
    height: 60px;
    background: rgb(14,100,142);
    position: relative;
}
.logo{
    position: absolute;
    top: -60px;
}
.logo img{
    height: 60px;
}
.header_jb{
    width: 100%;
    height: 50px;
    min-width: 960px;
    background-image: url("../images/jb_up.png");
    background-size: 100% 100%;
    margin: 0 auto;
}
.bt_home,.bt_shortmessage,.bt_settings,.bt_logout{
    width: 100px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.bt_home a,.bt_shortmessage a,.bt_settings a{
    text-decoration: none;
    color: black;
}
.bt_logout  a{
    text-decoration: none;
    color: #ffffff;
}
.bt_home a.click,.bt_settings a.click,.bt_shortmessage a.click {
    color: #ffffff;
}
.bt_home:hover *{
    color: #ffffff;
}
.bt_settings:hover *{
    color: #ffffff;
}
.bt_shortmessage:hover *{
    color: #ffffff;
}
.bt_logout a:hover{
    color: #ffffff;
}

.bt_logout{
    width: auto;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    font-size: 16px;
    right:105px;
    text-align: right;
    z-index: 999;
}

.bt_home{
    position: absolute;
    top: 15px;
    left: 270px;
}
.bt_shortmessage{
    position: absolute;
    left: 440px;
    top: 15px;
}

.bt_settings{
    position: absolute;
    left: 620px;
    top: 15px;
}
.logout{
    text-decoration: none;
    position: absolute;
}
.logout:hover{
    color: rgb(0,173,239);
}
.info{
    /* height: 30px;
    width: 960px;
    margin: 0 auto;
    position: relative;
    display: block;
    background-color: rgb(14,100,142); */
    /* position: absolute;
    right: 0; */
}
.info_ul{
    position: absolute;
    display: flex;
    right: 7px;
    top: 32px;
    z-index: 999;
}
.info li{
    padding-left: 3px;
    list-style: none;
}
#sms{
    position: relative;
}
.sms_title{
    width: 20px;
    height: 16px;
    display: block;
    position: absolute;
    background: red;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    border-radius: 5px;
    right: 0px;
    user-select: none;
    color: #ffffff;
}
.content-top{
    width: 960px;
    height: 159px;
    margin: 0 auto;
    background-image: url("../images/content_top_bg.png");
    background-size: 100% 100%;
    position: relative;
}

.content-des{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
h1{
    font-weight: lighter;
    margin: 0;
    padding: 0;
}
.introduce{
    width: 730px;
    position: absolute;
    left: 180px;
    top: 14px;
}
.introduce p{
    font-size: 14px;
    /*padding: 0;
    margin: 0;*/
}
.content-des img{
    padding-left: 27px;
    padding-top: 15px;
}
.content{
    width: 960px;
    margin: 20px auto;
    height: auto !important;
    min-height: 500px;
    margin-bottom: 5px;
    background-color: white;
    position: relative;
}
.content-left{
    width: 240px;
    min-height: 450px;
    height: auto !important;
    float: left;
    padding-top: 5px;
    margin-top: -5px;
}
.hide{
    display: none;
}

.content-right{
    width: 718px;
    min-height: 450px;
    height: auto !important;
    /*border-left: 1px solid #dedede; 左右侧分割线*/
    float: right;
    margin-top: 5px;
}
.content-box{
    height: auto;
    margin: 5px 0 0 10px;
    overflow: hidden;
}
.main-title{
    position: relative;
    width: 690px;
    padding: 5px 0 0 50px;
    overflow: hidden;
    /*border-bottom: 1px solid #dedede;分割线*/
}

.main-title h1{
    float: left;
    color: rgb(14,100,142);
}
.main-content{
    width: 600px;
/*    min-height: 400px;*/
    height: auto !important;
    margin: 25px auto;
}
.main-content table tr {
    height: 41px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
select {
    height: 29px;
    padding-left: 10px;
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    /*border: 1px solid rgb(68,150,168);*/
    border: 1px solid rgb(68,150,168);
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../images/select.png") no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 30px;
    outline-style: none;
}
select option{
    font-family: Century Gothic;
}
.selectList{
    border: 1px solid rgb(255,255,255);
    background: url("../images/selectWhite.png") no-repeat scroll right center transparent;
    position: absolute;
    padding-left: 3px;
    padding-right: 23px;
    right: 7px;
    top: 3px;
    width: 92px;
    height: 22px;
    color: #ffffff;
    z-index: 999;
}
.selectList option{
    color: #000000;
}
/*-----------------------------子菜单 start-------------------------------*/
.menu-left{
    width: 230px;
    margin-top: 20px;
    height: auto !important;
    min-height: 400px;
}

.menu-left ul{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.menu-left li{
    list-style: none;
}

.menu-left-item{
    width: 230px;
    min-height: 27px;
    margin-bottom: 5px;
    line-height: 27px;
}

.nosubmenu{
    background-image: url("../images/menu_left_gray.png");
}

.nosubmenu a{
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 27px;
}

.nosubmenu.click{
    background: url("../images/menu_left_gray.png");
}

.submenu{
    background: url("../images/menu_left_gray.png");
}
.submenu span{
    margin: 0 0 0 10px;
}
.submenu.click{
    background: url("../images/menu_left_gray_click.png");
    background-repeat: no-repeat;
}

.submenu-item{
    margin-bottom: 0px;
    background: url("../images/menu_left_white.png");
}
.submenu-item a{
    width: 91%;
    height: 100%;
    margin: 0 0 0 12px;
    text-decoration: none;
    display: inline-block;
    color: black;
}
.submenu-item.active{
    background: url("../images/menu_left_Babyblue.png");
}
.submenu-item.click{
    background: url("../images/menu_left_blue.png");
}
/*.submenu-item.click a{*/
/*background-image: url("../images/menu_left_blue.png");*/
/*background-size: 100% 100%;*/
/*}*/
.submenu-item.active a{

}
/*-----------------------------子菜单 end-------------------------------*/
.btn-area{
    min-height: 25px;
    margin: 20px 0 20px 0;
    padding: 20px 10px 0 0;
    border-top: 1px solid #dedede;
}
.common-btn{
    float: right;
    min-width: 80px;
    width: auto !important;
    height: 27px;
    padding: 0 5px 0 5px;
    margin: 0 0 0 10px;
    border: 1px solid rgb(23,87,135);
    border-radius: 5px;
    background-color: rgb(23,87,135);
    box-shadow:2px 2px 2px #666;
    color: #ffffff;
    cursor: pointer;
    outline-style: none;
    /*font: bold 13px/25px Arial, sans-serif;*/
}
.common-btn:hover{
    background-color: rgb(92,143,180);
    border: 1px solid rgb(92,143,180);
}
.common-btn:disabled{
    background-color: rgb(92,143,180);
    border: 1px solid rgb(92,143,180);
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.footer{
    position: relative;
    width: 960px;
    margin:50px auto;
    height: 60px;
    line-height: 100px;
}
.copyright{
    width: 600px;
    height: 30px;
    position: absolute;
    text-align: center;
    display: inline-block;
    left: 50%;
    margin-left: -300px;
    font-size: 14px;
}
.copyright span{
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.copyright span a{
    font-size: 14px;
    color: inherit;
    text-decoration: none;
}
.copyright span a:hover{
    color: rgb(23,87,135);
}
.noscript_text {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    padding-top: 24px;
}
.pointer{
    cursor: pointer;
}
.mask{
    width: 100%;
    min-width: 960px;
    height: 100%;
    z-index: 1000;
    background: rgba(183, 183, 183, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

#diatitle{
    float: left;
}
#diaclose{
    float: right;
}
#diatitle span{
    color: white;
    font-size: 16px;
    line-height: 21px;
}
.login-input{
    padding: 30px 0 0 60px;
}
.login-error-tips{
    text-align: left;
    color: red;
    font-size: 15px;
}

.user-login{
    width: 340px;
    height: 110px;
    font-size: 13pt;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -170px;
}

.user-input{
    width: 260px;
    height: 70px;
    float: left;
}

.user-input-name, .user-input-pw{
    width: 150px;
    height: 18px;
    margin: 0 0 0 5px;
}

.login-btn {
    width: 60px;
    height: 55px;
    font-size: 14pt;
}

.login-tips1{
    font-size: 14pt;
}

#dialog{
    position: fixed;
    min-width: 400px;
    width: auto !important;
    min-height: 200px;
    height: auto !important;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    background-color: white;
    border-left: 4px solid #7b7b7b;
    border-bottom: 4px solid #7b7b7b;
    border-right: 4px solid #7b7b7b;
    border-radius: 4px 4px 4px 4px;
}
#dialoghead{
    height: 30px;
    padding: 5px 5px 0 5px;
    background-color: #7b7b7b;
}
#dialogbody{
    min-width: 400px;
    width: auto !important;
    min-height: 100px;
    height: auto !important;
    text-align: center;
    padding-right: 30px;
}
#dialogbodyleft{
    min-width: 400px;
    width: auto !important;
    min-height: 100px;
    height: auto !important;
    text-align: left;
    padding-right: 30px;
}
#dialogbottom{
    margin: 20px 40px 20px 40px;
}
#dialogsms{
    position: fixed;
    min-width: 400px;
    width: auto !important;
    min-height: 200px;
    height: auto !important;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    background-color: white;
    border-left: 4px solid #7b7b7b;
    border-bottom: 4px solid #7b7b7b;
    border-right: 4px solid #7b7b7b;
    border-radius: 4px 4px 4px 4px;
}
#waitingdialog{
    width: 300px;
    padding: 50px 0 0 60px;
}
#waitingimg{
    float: left;
    min-width: 50px;
    min-height: 50px;
    margin: 0 10px 0 0;
    background: url(../images/waiting.gif) no-repeat center;
}
#waitingmsg{
    float: left;
    width: 240px;
    min-height: 50px;
    display: table;
}
#waitingmsg span{
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
}

#waitingdialogsms{
    width: 300px;
    padding: 50px 0 0 60px;
}

#waitingimgsms{
    float: left;
    min-width: 50px;
    min-height: 50px;
    margin: 0 10px 0 0;
    background: url(../images/waiting.gif) no-repeat center;
}
#waitingmsgsms{
    float: left;
    width: 240px;
    min-height: 50px;
    display: table;
}
#waitingmsgsms span{
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
}

#resultdialog{
    width: 300px;
    padding: 50px 0 0 60px;
}
#resultmsg {
    float: left;
    width: 290px;
    min-height: 50px;
    display: table;
}
#resultmsg span{
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
}
#confirmdialog{
    width: 300px;
    padding: 30px 50px 0 50px;
}
#confirmmsg{
    padding: 0 10px 0 10px;
    min-height: 50px;
    font-size: 14px;
    line-height: 20px;
    display: table;
    width: 290px;
}
#confirmmsg span{
    vertical-align: middle;
    display: table-cell;
}
#tipdialog{
    width: 300px;
    padding: 50px 0 0 60px;
}
#tipmsg{
    float: left;
    width: 280px;
    min-height: 50px;
    display: table;
}
#tipmsg span{
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
}
.info-img{
    min-width: 35px;
    height: 32px;
    float: right;
}
.pwdColor {
    display:table-row;
}
.pwdColor.hide{
    display:none;
}
