@font-face {
    font-family: monsterrat;
    src: url("../font/monsterrat.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monsterrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #4D4D4F;
}
body {
    background-color: #F9F9F9;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
table, tbody, tr, th, td {
    border-collapse: collapse;
}
button {
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    height: 100vh;
}
.content {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    background-color: #F9F9F9;
}
.w-full {
    width: 100%;
    padding: 48px 80px;
    min-height: 0px;
}
.hide {
    display: none;
}
.footer {
    width: 100%;
    margin: auto 0 0 0;
}
.copyright {
    padding: 16px 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #CECECE;
    border-radius: 4px;
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2px;
    background-color: #F69322;
}
input[type="checkbox"]:not(:disabled):checked {
    border-color: #F69322;
    background-image: url('../images/new/checkbox-checked.svg');
}
.content-left {
    background-color: #ffffff;
    width: 100%;
    max-width: 270px;
    border-right: 1px solid #E4E4E4;
}
.menu-left, .settings {
    width: 100%;
}
.settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.sidemenu-item {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0px;
    border-bottom: 1px solid #E4E4E4;
}
.no-border {
    border: none;
}
.sidemenu-item:has(.submenu-active) {
    gap: 16px;
}
.sidemenu-item:has(.submenu-active) .sidemenu-title-wrapper img{
    transform: rotate(180deg);
}
.sidemenu-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    max-width: 270px;
}
.submenu-list {
    list-style-type: none;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    height: 0px;
    overflow: hidden;
    background-color: #ffffff;
}
.submenu-active {
    height: 100%;
}
.submenu-item {
    color: #A6A6A7;
}
.submenu-link-current {
    color: #F69322;
    font-weight: 600;
}
.content-right {
    padding: 60px 60px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}
.content-box {
    width: 100%;
    max-width: 970px;
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    max-height: 800px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.content-right .footer {
    margin: 0 auto;
}
.main-title h1 {
    color: #4D4D4F;
    font-size: 24px;
}

.main-content {
    width: 100%;
    height: 100%;
}
.main-content td {
    position: relative;
    padding-bottom: 16px;
}
.main-content td:has(select) {
    width: 370px;
}
.main-content td.settings-title {
    width: 270px;
    height: 100%;
    vertical-align: middle;
}
.main-content td select{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.main-content td input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
}
.main-content td:has(select)::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-image: url(../images/new/icon-dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 3;
    right: 12px;
    bottom: 36px;
}
.btn-area {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: auto 0 0 auto;
    width: fit-content;
    height: fit-content;
}
#mobile-connection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.common-btn {
    padding: 14px 16px;
    border: 1px solid #F69322;
    border-radius: 8px;
    min-width: 100px;
}
.common-btn.white {
    background-color: #ffffff;
    color: #F69322;
}
.common-btn.orange {
    background-color: #F69322;
    color: #ffffff;
}
.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}
.table-data table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.table-data tr {
    text-align: left;
    overflow: hidden;
}
.content-box.table-data td,
.content-box.table-data th {
    border: 1px solid #E4E4E4;
    padding: 16px;
    overflow: hidden;
    font-size: 14px;
}
.content-box td:first-child {
    border-left: none;
}
.content-box td:last-child {
    border-right: none;
}
.content-box tr:last-child td {
    border-bottom: none;
}
.content-box.table-data th {
    background-color: #F9F9F9;
    border-top: none;
}
.content-box.table-data th:first-child {
    border-left: none;
}
.content-box.table-data th:last-child {
    border-right: none;
}

/* Network - USSD */

.ussd-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.short-message {
    width: 100%;
    height: 348px;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    background: #F9F9F9;
}
.ussd-input-wrapper {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.input-status {
    height: 44px;
    width: 100%;
    max-width: 370px;
    padding: 16px 12px;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
}
.ussd-input-wrapper button {
    position: absolute;
    right: 4px;
    height: 36px;
    padding: 8px 16px;
}