@font-face {
    font-family: monsterrat;
    src: url("../font/monsterrat.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monsterrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #4D4D4F;
}
body {
    background-color: #F9F9F9;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    height: 100vh;
}
.content {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    background-color: #F9F9F9;
}
.w-full {
    width: 100%;
    padding: 48px 80px;
    min-height: 0px;
}
.hide {
    display: none;
}
.footer {
    width: 100%;
    margin: auto 0 0 0;
}
.copyright {
    padding: 16px 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #CECECE;
    border-radius: 4px;
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2px;
    background-color: #F69322;
}
input[type="checkbox"]:not(:disabled):checked {
    border-color: #F69322;
    background-image: url('../images/new/checkbox-checked.svg');
}
.content-left {
    background-color: #ffffff;
    width: 100%;
    max-width: 270px;
    border-right: 1px solid #E4E4E4;
}
.menu-left, .settings {
    width: 100%;
}
.settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.sidemenu-item {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0px;
    border-bottom: 1px solid #E4E4E4;
}
.no-border {
    border: none;
}
.sidemenu-item:has(.submenu-active) {
    gap: 16px;
}
.sidemenu-item:has(.submenu-active) .sidemenu-title-wrapper img{
    transform: rotate(180deg);
}
.sidemenu-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    max-width: 270px;
}
.submenu-list {
    list-style-type: none;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    height: 0px;
    overflow: hidden;
    background-color: #ffffff;
}
.submenu-active {
    height: 100%;
}
.submenu-item {
    color: #A6A6A7;
}
.submenu-link-current {
    color: #F69322;
    font-weight: 600;
}
.content-right {
    padding: 60px 60px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}
.content-box {
    width: 100%;
    max-width: 970px;
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    max-height: 800px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.content-right .footer {
    margin: 0 auto;
}
.main-title h1 {
    color: #4D4D4F;
    font-size: 24px;
}
