.content-container{
    max-width: 970px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: flex-start;
    align-items: center;
}
.mid1 {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
}
.midBig {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.home-menu-icon {
    color: #4d4d4f;
    background-color: #ffffff; 
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.midBigOnfocus .home-menu-icon {
    color: #ffffff;
    background-color: #F69322;
    box-shadow: 0px 2px 4px 0px rgba(246, 147, 34, 0.25);
}
.home-menu-icon svg path{
    color: #4d4d4f;
}
.midBigOnfocus .home-menu-icon svg path{
    color: #ffffff;
}
#internet, #wifi, #client {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.mid3 {
    width: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}
.mid3 table {
    width: 100%;
    border-collapse: collapse;
}
.mid3 table td {
    width: 50%;
    padding: 16px;
    border: 1px solid #E4E4E4;
} 