
select {
    padding-right: 30px;
}
.select-status {
    width: 200px;
}
#protocol{
    width: 100px;
    padding-left: 0px;
}
#statuslist,#statuslist3{
    width: 72px;
}

input{
    border: 1px solid rgb(68,150,168);
    height: 27px;
}
.ip-select{
    width: 100px;
}
#ipfilterlistform input {
    width: 95%;
    text-align: center;
}
.modetips
{
    margin: 45px 0 10px 0;
}
.tips
{
    margin: 0 0 10px 0;
    color: red;
    font-size: 14px;
}
#ipfilterlistform table {
    width: 650px;
    text-align: center;
}
#portforwardlist {
    margin: 30px 0 0 0px;
}
#portforwardlist th {
    /*background-color: #55BBFF;*/
    background-color: rgb(201,201,201);
}
.oddtr {
    /*background-color: #eaeaea;*/
    background-color: rgb(240,240,240);
}
.option-btn {
    margin: 0px 5px 0px 5px;
    color: rgb(68,150,168);
    text-decoration: underline;
    cursor: pointer;
}
.eventr {
    /*background-color: #cceeff;*/
    background-color: rgb(221,221,221);
}
.ipfilterlistadd-btn{
    float: left;
    min-width: 70px;
    width: auto !important;
    height: 25px;
    padding: 0 5px 0 5px;
    margin: 10px 0 0 10px;
    border: 1px solid rgb(23,87,135);
    border-radius: 5px;
    color: #ffffff;
    background-color: rgb(23,87,135);
    box-shadow:2px 2px 2px #666;
    cursor: pointer;
    /*font: bold 13px/25px Arial, sans-serif;*/
}
.ipfilterlistadd-btn:hover{
    background-color: rgb(92,143,180);
    border: 1px solid rgb(92,143,180);
}
.ipfilterlistadd-btn:disabled{
    background-color: rgb(92,143,180);
    border: 1px solid rgb(92,143,180);
}
.errortips{
    color: red;
    text-align: left;
}
.portforward_btn-area{
    margin: 50px 0 20px 0;
}
#listtable{
    font-size: 12px;
}
#listtable tr td{
    width: auto;
    padding: 0 20px;
}
::-ms-clear {
    display: none;
}