@font-face {
    font-family: Century Gothic;
    src: url("../font/GOTHIC.TTF");
}
*{
    font-family: Century Gothic;
    font-weight: 800;
}
a:focus{outline:none;}
.main-menu{
    position: absolute;
    top: 35px;
    right: 30px;
}
.main-menu tr td{
    width: 30px;
    height: 25px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 25px;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
html,div,ul,p,h1,h2,h3,h4,h5,h6,td,input{
    margin: 0;
    padding: 0;
}
.containerlogin{
    width: 100%;
    margin: 0 auto;
}
.toollogin{
    width: 960px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.headerlogin{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-top: 170px;
    position: relative;
}

.logo{
    height: 60px;
    margin: 6px 0 0 22px;
    background-image: url(../images/logo_black.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size:100% 100%;
}
.loginDivBig{
    position: relative;
    top: 25px;
    margin: 0 auto;
    width: 264px;
    height: 280px;
    background: rgba(242,242,242,0.5);
    border-radius: 10px;
    box-shadow:2px 2px 2px #666;
}
.loginDiv{
    width: 264px;
    height: 200px;
    border-radius: 10px;
    line-height: 60px;
}
.usernamediv, .pswdiv{
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    width: 230px;
    height: 32px;
    background: #ffffff;
}
.usernamediv img,.pswdiv img{
    position: absolute;
    left: 20px;
    top: 5px;
}
.logintip{
    width: 230px;
    margin: 0 auto;
    font-size: 14px;
}
#tips{
    text-align: center;
}
.admin-login{
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    cursor: default;
    font-weight: lighter;
}
#pwtips,#numtips{
    width: 230px;
    text-align: center;
}
#numtips span #error-msg{
    text-align: center;
}
.psw, .username{
    position: absolute;
    left: 55px;
    top: 6px;
    width: 160px;
    height: 21px;
    border: none;
    border-left: 1px solid rgb(147,147,147);
    font-size: 14px;
    text-align: center;
    outline-style: none;
}
.login-input table{
    margin: 0 auto;
    padding-top: 36px;
}
.login-input table td{
    width: 100px;
    height: 50px;
    line-height: 50px;
}
.bt_login{
    width: 230px;
    height: 34px;
    background-color: rgb(153,149,150);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    line-height: 34px;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
    outline-style: none;
    box-shadow:2px 2px 2px #666;
}
.bt_login:hover{
    background-color: rgb(23,87,135);
}
.login-error-tips{
    text-align: center;
    color: red;
    font-size: 14px;
}
.login-error-tips1{
    text-align: center;
    color: red;
    font-size: 20px;
}

.contentlogin{
    width: 960px;
    margin: 0 auto;
    height: auto !important;
    min-height: 500px;
    margin-bottom: 5px;
    background: url("../images/login_bg.png") no-repeat;
    position: relative;
}

.hide{
    display: none;
}

.main-content{
    width: 600px;
    min-height: 400px;
    height: auto !important;
    margin: 25px auto;
}
select {
    width: auto;
    height: 25px;
    font-size: 14px;
    /*Chromeå’ŒFirefoxé‡Œé¢çš„è¾¹æ¡†æ˜¯ä¸ä¸€æ ·çš„ï¼Œæ‰€ä»¥å¤å†™äº†ä¸€ä¸‹*/
    border: 1px solid rgb(68,150,168);
    /*å¾ˆå…³é”®ï¼šå°†é»˜è®¤çš„selecté€‰æ‹©æ¡†æ ·å¼æ¸…é™¤*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    /*åœ¨é€‰æ‹©æ¡†çš„æœ€å³ä¾§ä¸­é—´æ˜¾ç¤ºå°ç®­å¤´å›¾ç‰‡*/
    background: url("../images/select.png") no-repeat scroll right center transparent;


    /*ä¸ºä¸‹æ‹‰å°ç®­å¤´ç•™å‡ºä¸€ç‚¹ä½ç½®ï¼Œé¿å…è¢«æ–‡å­—è¦†ç›–*/
    padding-left: 3px;
    padding-right: 30px;
    outline-style: none;
}
/*æ¸…é™¤ieçš„é»˜è®¤é€‰æ‹©æ¡†æ ·å¼æ¸…é™¤ï¼Œéšè—ä¸‹æ‹‰ç®­å¤´*/
select::-ms-expand { display: none; }

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.footer{
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: 60px;
    line-height: 100px;
}
.copyright{
    width: 600px;
    height: 30px;
    position: absolute;
    text-align: center;
    display: inline-block;
    left: 50%;
    margin-left: -300px;
    font-size: 14px;
}
.copyright span{
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.copyright span a{
    font-size: 14px;
    color: inherit;
    text-decoration: none;
}
.copyright span a:hover{
    color: rgb(23,87,135);
}
.noscript_text {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    padding-top: 24px;
}