.select-status {
    width: 200px;
}
input{
    border: 1px solid rgb(68,150,168);
    height: 27px;
    padding-left: 10px;
}
.mac-select{
    width: 188px;
}
.modetips
{
    margin: 45px 0 10px 0;
}
.tips
{
    margin: 0 0 10px 0;
    color: red;
    font-size: 14px;
}
#macfilterform table {
    text-align: center;
}
#macfilterlist {
    margin: 30px 0 0 10px;
}
#macfilterlist th {
    background-color: rgb(191,191,191);
}
.width180 {
    width: 180px;
}
.width100 {
    width: 180px;
}
.oddtr {
    background-color: rgb(240,240,240);
}
.option-btn {
    margin: 0px 5px 0px 5px;
    color: rgb(68,150,168);
    text-decoration: underline;
    cursor: pointer;
}
.eventr {
    background-color: rgb(221,221,221);
}
.ipfilterlistadd-btn{
    float: left;
    min-width: 70px;
    width: auto !important;
    height: 25px;
    padding: 0 5px 0 5px;
    margin: 10px 0 0 10px;
    border: 1px solid rgb(23,87,135);
    border-radius: 5px;
    color: #ffffff;
    background-color: rgb(23,87,135);
    box-shadow:2px 2px 2px #666;
    cursor: pointer;
    /*font: bold 13px/25px Arial, sans-serif;*/
}
.ipfilterlistadd-btn:hover{
    background-color: rgb(92,143,180);
    border: 1px solid rgb(92,143,180);
}
.ipfilterlistadd-btn:disabled{
    background-color: rgb(92,143,180);
    border: 1px solid rgb(92,143,180);
}
.errortips{
    color: red;
    text-align: left;
}
.firewall_btn-area{
    margin: 50px 0 20px 0;
}
#listtable{
    font-size: 12px;
}