.content-container{
    max-width: 970px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: flex-start;
    align-items: center;
}
.sms-right, #smssdiv {
    width: 100%;
}
.sms-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#smssdiv {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.childmenu ul{
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
}
.sms-operator {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.box-message {
    margin-right: 8px;
}
table {
    width: 100%;
    border: 1px solid black;
}