.inputip {
    width: 95%;
    height: 27px;
    text-align: center;
    font-size:12px;
    border: 1px solid rgb(68,150,168);
}
#sipaccountlistform table {
    width: 580px;
    text-align: center;
}
#sipaccountlistform {
    margin: 30px 0 0 0px;
}
#sipaccountlistform th {
    background-color: rgb(201,201,201);
}
#sipaccountlistform td {
    overflow: auto;
}
#listbody tr td{
    word-break: break-all;
}
.oddtr {
    background-color: rgb(240,240,240);
}
.option-btn {
    margin: 0px 5px 0px 5px;
    color: rgb(68,150,168);
    text-decoration: underline;
    cursor: pointer;
}
.eventr {
    background-color: rgb(221,221,221);
}
.sipaccountadd-btn{
    float: left;
    min-width: 70px;
    width: auto !important;
    height: 25px;
    padding: 0 5px 0 5px;
    margin: 10px 0 5px 10px;
    border: 1px solid rgb(23,87,135);
    border-radius: 5px;
    color: #ffffff;
    background-color: rgb(23,87,135);
    box-shadow:2px 2px 2px #666;
    cursor: pointer;
    /*font: bold 13px/25px Arial, sans-serif;*/
}
.sipaccountadd-btn:hover{
    background-color: rgb(92,143,180);
    border: 1px solid rgb(92,143,180);
}
.sipaccountadd-btn:disabled{
    background-color: rgb(92,143,180);
    border: 1px solid rgb(92,143,180);
}
#listtable{
    font-size: 12px;
}
.btn-area{
    margin: 50px 0 20px 0;
}
.operation_btn{
    margin: 0px 5px 0px 5px;
    color: rgb(68,150,168);
    text-decoration: underline;
    cursor: pointer;
}
#psw {
    margin: 0;
    padding: 0;
}
.error-tips{
    color: red;
    font-size: 14px;
    margin: 5px 0 0 10px;
}