.select-status {
    width: 200px;
    padding-right: 30px;
}
.select-lang{
    width: 150px;
    padding-right: 30px;
    margin-right: 10px;
}
.select-shot{
    width: 80px;
    padding-right: 30px;
    margin-right: 10px;
}
.input-status{
    border: 1px solid rgb(68,150,168);
    height: 27px;
    width: 188px;
    padding-left: 10px;
    margin-left: 10px;
}
.front{
    position: absolute;
    width: 160px;
    border-right: none;
    left: -10px;
}
.enable-title{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.marginleft20{
    margin-left: 20px;
}
.marginleft10{
    margin-left: 10px;
}
.marginright10{
    margin-right: 10px;
}
.select-timezone{
    width: 350px;
    padding-right: 30px;
}
.main-content{
    width: 620px;
    margin-left: 50px;
}
.select-ntp{
    width: 70px;
    padding-left: 3px !important;
}
.table-setTime{
    padding-left: 30px;
    padding-top: 25px;
}
.aLink{
    cursor:pointer;
    color:blue;
    text-decoration: underline;
}