input{
    border: 1px solid rgb(68,150,168);
    width: 188px;
    height: 27px;
    padding-left: 10px;
    padding-right: 27px;
}
.error-tips {
    color: red;
}


.pwdColor td span{
    display: inline-block;
    padding: 2px 8px;
    background: #ccc;
    font-size: 10px;
}
.pwdColor b{
    font-size: 12px;
    color: red;
}


.pwdColor span.co1 {
    background:#f00;
    color: #fff;
}
.pwdColor span.co2 {
    background:#00ff66;
    color: #fff;
}

.pwdColor span.co3 {
    background:#0033cc;
    color: #fff;
}
.yanjing{
    position: relative;
}
.biyanjing{
    display: inline-block;
    width: 18px;
    height: 16px;
    position: absolute;
    top: 13px;
    right: 70px;
}