.versioninfotitle{
    font-size: 16px;
    line-height: 42px;
    margin: 0px 10px;
}

.tdwidth210{
    width: 234px;
}
#proinfo{
    margin: 40px 0 0 30px;
}
#promsg{
    font-size: 14px;
    line-height: 20px;
}
#pronav{
    width: 300px;
    height: 25px;
    border: 2px outset #dedede;
    border-radius: 6px;
    margin: 10px 0 0 34px;
}
#probar{
    width: 300px;
    height: 25px;
    border-radius: 4px;
    color: black;
    background-color: #01c3ff;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}
.inputfile {
    width: 200px;
    height: 29px;
    padding-left: 10px;
    font-size:100%;
    border: 1px solid rgb(68,150,168);
    display: inline;
}
#newsoftver,#desc,#cursoftver,#curhardver{
    padding-left: 4px;
}
#txt{
    margin-left: 4px;
}
.file-btn{
    width: 50px;
    height: 30px;
    float: right;
    padding: 0 5px 0 5px;
    margin: 0 0 0 10px;
    border: 1px solid rgb(14,100,142);
    border-radius: 5px;
    background-color: rgb(14,100,142);
    box-shadow:2px 2px 2px #666;
    color: #ffffff;
    cursor: pointer;
    outline-style: none;
}
.typefile{
    width: 0px;
    height: 0px;
    position:absolute;
    top: -1000px;
    opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -webkit-opacity:0;
    margin-left:-25px;
}
#check:disabled{
    background-color: rgb(92,143,180);
    border: 1px solid rgb(92,143,180);
}