.content{
    overflow: hidden;
}
.select-status {
    width: 200px;
}
.input-status{
    border: 1px solid rgb(68,150,168);
    width: 163px;
    height: 27px;
    padding-left: 10px;
    padding-right: 25px;
}
.errortips{
    color: red;
}
#securitymodetips24{
    color: red;
}
#securitymodetips5{
    color: red;
}


.pwdColor td span{
    display: inline-block;
    padding: 2px 8px;
    background: #ccc;
    font-size: 10px;
}
.pwdColor b{
    font-size: 12px;
    color: red;
}


.pwdColor span.co1 {
    background:#f00;
    color: #fff;
}
.pwdColor span.co2 {
    background:#00ff66;
    color: #fff;
}

.pwdColor span.co3 {
    background:#0033cc;
    color: #fff;
}
#yanjing{
    position: relative;
}
#biyanjing{
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 12px;
    right: 95px;
}
#psd_yan{
    position: relative;
}
#yanjing_img{
    display: inline-block;
    width: 19px;
    height: 18px;
    position: absolute;
    top: 12px;
    right: 94px;
}

.pwdColors td span{
    display: inline-block;
    padding: 2px 8px;
    background: #ccc;
    font-size: 10px;
}
.pwdColors b{
    font-size: 12px;
    color: red;
}


.pwdColors span.weak_c1 {
    background:#f00;
    color: #fff;
}
.pwdColors span.middle_co2 {
    background:#00ff66;
    color: #fff;
}

.pwdColors span.powerful_co3 {
    background:#0033cc;
    color: #fff;
}